@import "../../vars.css";
/* .container {
  margin-top: 250px;
} */
.title {
  color: var(--color-text);
  font-size: 2.5em;
}
.skill {
  border-radius: 50%;
  background-color: var(--color-text);
}
.logo {
  width: 80px;
  height: 80px;
}
