:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: hsl(250, 69%, 61%);
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
